<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>Sonagi</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/ui.css">
    </head>
    <body>
        <div class="page">
            <div class="ui"></div>
            <canvas></canvas>
        </div>
        <script src="js/engine.js"></script>
        <script src="js/manager.js"></script>
        <script src="js/init.js"></script>
    </body>
</html>
